@import 'vars';

.recovery-password{
	width: 100%;
	height: 100vh;
	/* centran el contenido al centro del container*/
	display: grid;
	/* justify-items: center; */
	/* align-items: center; */
	place-items: center;
	/*  */
}
.form-container-recovery{
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-content: center;
	align-items: center;
	width: 300px;
}

.recovery-password-form{
	margin-top: 32px;
}

.recovery-password-form label{
	font-size: var(--md);
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: 8px;
}

.recovery-password-form input{
	background-color: var(--text-input-field);
	border: none;
	border-radius: 8px;
	margin: 8px 0;
	height: 50px;
	width: 100%;
	padding-left: 6px;
	font-size: var(--md);
}

.recovery-password-form .btn.btn-primary{
	background: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
	width: 100%;
	margin-top: 32px;
	margin-bottom: 16px;
	padding: 8px;
}


.title{
	/* font-family: 'Quicksand', sans-serif; */
	font-size: var(lg);
	margin-bottom: 12px;
	text-align: center;
}
.sub-title{
	font-size: var(--md);
	font-weight: 300;
	margin-top: 4px;
	margin-bottom: 8px;
	/* font-size: var(md); */
}

.back-to-login{
	font-size: var(--sm);
	text-align: center;
}
.back-to-login a {
	color: var(--hospital-green);
	font-weight: bold;
	text-decoration: none;
}